
  <nav style="background-color: black;max-height: 150px;"class="navbar navbar-expand fixed-bottom ">
    <div class="container">
      
      <a style="font-size: 3vw;text-align: center;padding:0px;"class="navbar-brand" href="/dashboard">
        <i class="bi bi-stack"></i><br>
        Dashboard </a>
      
      <a style="font-size: 3vw;text-align: center;padding:0px;" class="navbar-brand" href="/assignments">
        <i class="bi bi-list-task"></i><br>
        Assignments</a>
    
      <a style="font-size: 3vw;text-align: center;padding:0px;" class="navbar-brand" href="/schedule">
        <i class="bi bi-calendar3"></i><br>
        Schedule</a>
    
      <a  style="font-size: 3vw;text-align: center;padding:0px;" class="navbar-brand" href="/profile">
        <i class="bi bi-person-circle"></i><br>
        Profile</a>
       
    </div>
  </nav>