<!DOCTYPE html>
<html>
    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Register</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        

    </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>

        @media (min-width: 400px) {
            .container{
                max-width: 80vw;
            }
        }
        @media (min-width: 700px) {
            .container{
                max-width: 60vw;
            }
    
        }
        body{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            
            justify-content: center;

        }
    
    </style>
    <body class="text-center">


   
    
    <div class="container" style="border: 5px solid #0275d8 ;border-radius: 20px;">


        <h1 style="font-size: 50px;">
            ScheduApp
        </h1>
        <br>
    
        <h3 >Schedule your assignments with ease. Just give us your fixed schedule and we'll take care of the rest</h2>
        <br>
        <div style="color:red">{{errorMsg}}</div>
        <form action="{{url_for('register_page')}}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" name="name" required>
            
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" name="email" required>
            
        </div>
        
        <div  class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required >
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">+</span>
            </div>
        </div>
        <div  class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" name="password2"required >
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">+</span>
            </div>
        </div>
        <label>Minimum time gap</label>
        <input type="number" name="minTimeGap" required>
        <br>

        <label>Start of day time</label>
        <input type="time" name="timeStartDay" required>
    <br>
        <label>End of day time</label>
        <input type="time" name="timeEndDay"required>
        <br>
        <br>
        <input type="submit" value="Register" class="btn btn-outline-primary btn-lg btn-block" style="margin-bottom:10px;">
        
        </form>

    </div>
    

    <!-- {%for i in range(10) %} -->

    <!-- {% endfor %} -->



    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>